.categorybar {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid gray;
}
.categorybar-link {
	flex-basis: 10%;
	text-decoration: none;
	padding: 0.3rem 0.5rem;
}
