/*
Navbar


*/
.navbar {

	display: flex;
	flex-direction: row;
	width: 100%;
	
	padding: 9px;
	background-color: #00308F;
	
}
.navbar-left {
	flex-basis: 35%;
	flex-shrink: 2;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	align-items: center;
}
.navbar-left-icon {
	padding: 0;
	margin: 0 0.5rem;
}
.navbar-left-title {
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
	font-weight: 600;
	color: #ededed;
}

.navbar-right{
	display:flex;
	justify-content: flex-start;

}
